@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #6070ff;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 40px;
  z-index: 10;
}

#close {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 40px;
  z-index: 9;
}

.hide {
  display: none;
}

.nav-ul.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px 20px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  background: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(15px);
  opacity: 0.97;
}

.nav-text-1,
.nav-text-2,
.nav-text-3 {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
